@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-gray-100 dark:bg-gray-900; 
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
